body{
	background: #cadef4;
	width : 33em;
}
.container{
	padding-left : 10px;
}
.row{
	padding-top : 10px;
}
.textbox{
	width : 32em;
	float : right;
}
.button{
	width : 5em;
}
#submitTagsButton{
	margin-left:14em;
}
#searchButton{
	margin-left:14em;
}
.tablerow{
	width: 570px;
	margin-left: auto;
	margin-right: auto;
}
.col1, .col2{
	float: left;
	height: 35px;
	width: 150px;
	padding: 10px;
}
.col1{
	background: #eee;
}
.col2{
	background: #eec;
}