body{
	background: #cadef4;
	width : 33em;
}
.container{
	padding-left : 10px;
}
.row{
	padding-top : 10px;
}
.textbox{
	width : 32em;
	float : right;
}
.button{
	width : 5em;
}
#submitTagsButton{
	margin-left:14em;
}
#searchButton{
	margin-left:14em;
}
.set1, .set2{
	width: 480px;
	margin-left: 4px;
	padding : 5px;
}
.set1{
	background: #838b40;
}
.set2{
	background: #99528A;
}
.url{
	color: black;
}
.description{
	color: black;
}
.tags{
	color: black;
}